@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import "./moon-base.css";
@import "./_components.css";

.moon-authenticator :where(.moon-authenticator-slot) {
  display: flex;
  width: 100%;
  max-width: var(--scale-md-width);
  height: var(--scale-md-height);
  outline: none;
  border-color: rgba(0, 0, 0, 0);
  align-items: center;
  box-shadow: inset 0 0 0 var(--authenticator-stroke-default)
    var(--authenticator-border);
  color: var(--semantic-text-primary);
  background-color: var(--authenticator-background);
  border-radius: var(--utility-authenticator-radius-md);
  text-align: center;
  font: var(--scale-md-text-weight) var(--scale-md-text-size) /
    var(--scale-md-text-height) var(--scale-md-text-font);
  transition: box-shadow 150ms ease-in-out, opacity 150ms ease-in-out,
    background-color 150ms ease-in-out;
}
.moon-authenticator :where(.moon-authenticator-slot)::-moz-placeholder {
  color: var(--semantic-text-secondary);
}
.moon-authenticator :where(.moon-authenticator-slot)::placeholder {
  color: var(--semantic-text-secondary);
}
.moon-authenticator :where(.moon-authenticator-slot):-moz-read-only {
  cursor: not-allowed;
}
.moon-authenticator :where(.moon-authenticator-slot):read-only,
.moon-authenticator :where(.moon-authenticator-slot):disabled {
  cursor: not-allowed;
}
.moon-authenticator :where(.moon-authenticator-slot):disabled {
  opacity: var(--effect-opacity-disabled);
}
.moon-authenticator
  :where(.moon-authenticator-slot):not(:-moz-read-only, :disabled):hover {
  box-shadow: inset 0 0 0 var(--dimension-space-2) var(--authenticator-border);
  background-color: var(--semantic-background-hover);
}
.moon-authenticator
  :where(.moon-authenticator-slot):not(:read-only, :disabled):hover {
  box-shadow: inset 0 0 0 var(--dimension-space-2) var(--authenticator-border);
  background-color: var(--semantic-background-hover);
}
.moon-authenticator
  :where(.moon-authenticator-slot):not(:-moz-read-only, :disabled):focus {
  box-shadow: inset 0 0 0 var(--dimension-space-2) var(--semantic-border-active);
}
.moon-authenticator
  :where(.moon-authenticator-slot):not(:read-only, :disabled):focus {
  box-shadow: inset 0 0 0 var(--dimension-space-2) var(--semantic-border-active);
}
.moon-authenticator.moon-authenticator-error :where(.moon-authenticator-slot) {
  box-shadow: inset 0 0 0 var(--dimension-space-2)
    var(--semantic-border-negative);
}
.moon-authenticator.moon-authenticator-error
  :where(.moon-authenticator-slot):hover,
.moon-authenticator.moon-authenticator-error
  :where(.moon-authenticator-slot):focus {
  box-shadow: inset 0 0 0 var(--dimension-space-2)
    var(--semantic-border-negative);
}
.moon-authenticator.moon-authenticator-sm {
  gap: var(--scale-sm-gap);
}
.moon-authenticator.moon-authenticator-sm :where(.moon-authenticator-slot) {
  max-width: var(--scale-sm-width);
  height: var(--scale-sm-height);
  border-radius: var(--utility-authenticator-radius-sm);
  font: var(--scale-sm-text-weight) var(--scale-sm-text-size) /
    var(--scale-sm-text-height) var(--scale-sm-text-font);
}
.moon-authenticator.moon-authenticator-lg {
  gap: var(--scale-lg-gap);
}
.moon-authenticator.moon-authenticator-lg :where(.moon-authenticator-slot) {
  max-width: var(--scale-lg-width);
  height: var(--scale-lg-height);
  border-radius: var(--utility-authenticator-radius-lg);
  font: var(--scale-lg-text-weight) var(--scale-lg-text-size) /
    var(--scale-lg-text-height) var(--scale-lg-text-font);
}
.moon-authenticator.moon-authenticator-xl {
  gap: var(--scale-xl-gap);
}
.moon-authenticator.moon-authenticator-xl :where(.moon-authenticator-slot) {
  max-width: var(--scale-xl-width);
  height: var(--scale-xl-height);
  border-radius: var(--utility-authenticator-radius-xl);
  font: var(--scale-xl-text-weight) var(--scale-xl-text-size) /
    var(--scale-xl-text-height) var(--scale-xl-text-font);
}

.moon-breadcrumb {
  list-style: none;
}

.moon-dropdown,
.moon-dialog,
.moon-carousel {
  font-family: var(--text-font-family-primary);
}

.moon-dropdown--padding {
  padding: var(--dimension-space-16);
}

.moon-dialog-wrapper {
  position: fixed;
  top: 33%;
  left: 33%;
  z-index: 999;
}

.moon-dialog-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.moon-dialog-close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.moon-authenticator-slot {
  width: 3rem;
}

.moon-authenticator-slot span {
  width: 100%;
}

.moon-authenticator-slot:focus {
  box-shadow: inset 0 0 0 var(--dimension-space-2) var(--semantic-border-active);
}

.moon-authenticator-slot.moon-authenticator-slot-focus {
  box-shadow: inset 0 0 0 var(--dimension-space-2) var(--semantic-border-active);
}

.moon-checkbox svg {
  width: 1rem;
}

button {
  border-width: 0;
}

.moon-dropdown-trigger {
  background-color: transparent;
}

.moon-dropdown-trigger:focus {
  border: none;
  outline: none;
}

.moon-pagination-item {
  text-decoration: none;
}

.moon-breadcrumb-item a {
  text-decoration: none;
}
