@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import "../assets/css/moon-base.css";
@import "../assets/css/moon-components.css";

h3 {
  font-family: var(--text-font-family-primary);
}

ul {
  padding-inline-start: 0;
}

hr {
  border: none;
  height: 1px;
  background: var(--semantic-border-secondary);
}

.moon-breadcrumb {
  list-style: none;
}

.moon-dropdown,
.moon-dialog,
.moon-carousel {
  font-family: var(--text-font-family-primary);
}

.moon-dropdown--padding {
  padding: var(--dimension-space-16);
}

.moon-dialog-wrapper {
  position: fixed;
  top: 33%;
  left: 33%;
  z-index: 999;
}

.moon-dialog-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.moon-dialog-close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.moon-authenticator-slot {
  width: 3rem;
}

.moon-authenticator-slot span {
  width: 100%;
}

.moon-authenticator-slot:focus {
  box-shadow: inset 0 0 0 var(--dimension-space-2) var(--semantic-border-active);
}

.moon-authenticator-slot.moon-authenticator-slot-focus {
  box-shadow: inset 0 0 0 var(--dimension-space-2) var(--semantic-border-active);
}

.moon-checkbox svg {
  width: 1rem;
}

button {
  border-width: 0;
}

.moon-dropdown-trigger {
  background-color: transparent;
}

.moon-dropdown-trigger:focus {
  border: none;
  outline: none;
}

.moon-pagination-item {
  text-decoration: none;
}

.moon-breadcrumb-item a {
  text-decoration: none;
}

.mt-3 {
  margin-top: 12px;
}

.mt-2 {
  margin-top: 7px;
}

.gap-2 {
  row-gap: 8px;
}
